<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/ketida.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="/env-config.js" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
